<a href="https://colab.research.google.com/github/RaymondCabalog/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
#if statement
a=12
b=100

if a<b:
  print("a is less than b")

a is less than b

In [45]:
#elif statement

if a<b:
  print('a is less than b')
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

In [33]:
#else statement

a = b;

if a<b:
  print('a is less than b')
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

In [46]:
#Short hand If Statement

c = 10
d = 5

if c>d: print("c<d")

c<d

In [48]:
#And Statement

if 5>10 and 8>4:
  print("both statements are true")
else:
  print("one of the statements is false/both statements are not true")

one of the statements is false/both statements are not true

In [49]:
#Or Statement
if 5>10 or 4>8:
  print("True")
else:
  print("False")

False

In [50]:
#Bitwise Operator ^ (xor)
e=4 #0100 in binary
f=2 #0010 in binary
e^f

6

In [51]:
#Nested If Statement
x=41
if x>10:
  print("Number is above 10")
  if x>20:
    print("Number is above 20")
    if x>30:
      print("Number is above 30")
      if x>40:
        print("Number is above 40")
        if x>50:
          print("The number is above 50")
        else:
          print("The number is less than 50")

Number is above 10
Number is above 20
Number is above 30
Number is above 40
The number is less than 50

In [4]:
#For Loop Statement
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]

for y in week:
   print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [30]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"]

for y in week:
  if y == "Thursday":
     break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [19]:
for x in "week":
  print(x)

w
e
e
k

In [20]:
#range function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [29]:
for x in range(2,6+1,1):
  print(x)

2
3
4
5
6

In [35]:
adjective= ["red","big","tasty"]
fruit= ["apple","banana","cherry"]
for x in adjective:
  for y in fruit:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [40]:
i= 1
while i<=6:
  print(i)
  i+=1 #i=i+1

1
2
3
4
5
6

In [41]:
i= 1
while i<=6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [56]:
#Application 1: Write a program that determines the input age is qualified to vote or not.
#The qualifying age is 18 years old and above.

age = input("Enter Age: ")
if int(age)>=18:
  print("You are qualified")
else:
  print("You are not qualified")

Enter Age: 18
You are qualified

In [59]:
#Application 2: Write a program that determines if the input is POSITIVE, NEGATIVE, or Zero.

num = input("Enter Number: ")
if int(num)>0:
  print("The number is Positive")
elif int(num)<0:
  print("The number is Negative")
else:
  print("The number is Zero")

Enter Number: -1
The number is Negative

In [65]:
#Application 3: Using while loop and break statement, the output is only 3

i= 1
while i<=6:
  i+=1
  if i==3:
    break
print(i)

3