<a href="https://colab.research.google.com/github/RaymondCabalog/PLNG211-QC/blob/main/Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Indentation

In [ ]:
if 5>2:
  print("5 is greater than 2")

Python Var

In [ ]:
x = 1
a, b = 0,-1
print(a)
c = "Sally"
c = "Danny"
#Code is read by line so the newer declaration will be read.
print(c)
c = "Maria"

0
Danny

In [ ]:
print(c) 
#Code cell will print latest (c) declaration from previous cell.

Maria

Multiple Variable

In [ ]:
#Multiple variables with declarations in a single line.
f, g, h = "one", "two", "three"
print(f)
print(g)
print(h)

Casting

In [ ]:
#Explicit type casting
#Python needs user involvement to convert the variable data type into certain data type.
d = int(4)
print(d)
e = float(4)
print(e)

4
4.0

Type () Function

In [ ]:
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>

Single or Double Quote

In [ ]:
f= "Maria"
print(f)
g= 'Ana'
print(g)

Maria
Ana

Multiple Variables

In [ ]:
x,y,z=4,5,6
print(x)
print(y)
print(z)

4
5
6

Single Value to Multiple Var

In [ ]:
#Since x is equal to y and z, a single value can be stored in multiple variables in the declaration.
x=y=z="Lilo"
print(x)
print(y)
print(z)

Lilo

Output Var

In [ ]:
q,w='Yes','No'
print("Are you happy? "+q)

Are you happy? Yes

Arithmetics

In [ ]:
u = 5
i = 4
sum = u + i
#Values will be declared in the variable sum 
print(sum)

#Modulo division
l = 4%2
print("4%2", l)

#Floor division
k = 3//2
print("3//2", k)

9
4%2 0
3//2 1